@import '../config';

main.product-page {
   background: whitesmoke;
   
   section.product-entry {
      @include Flex(sa, none);
      min-height: calc(100vh - 130px);
      padding: 2em 0;
      
      figure.main-figure {
         width: 40%;
         aspect-ratio: 1;
         @include Flex(c, c);

         img {
            @include FullSize;
            object-fit: cover;
         }
      }

      article.right-product-section {
         width: 50%;
         font-family: 'Prompt', sans-serif;

         button {
            width: 240px;
            outline: 0;
            padding: .75em 0;
            background: royalblue;
            border-radius: .2em;
            border: 0;
            @include Flex(sa, c);
            cursor: pointer;

            &, span, label { transition: .4s }

            span {
               @include Rectangle(25px);
               pointer-events: none;
               color: $clr-white;

               svg { @include FullSize; }
            }
            
            label {
               font-weight: 400;
               font-size: 1.1rem;
               color: $clr-white;
               font-family: 'Prompt', sans-serif;
            }

            &:hover {
               span {
                  transform: translateX(500%);
               }
               label {
                  transform: translateX(40%);
               }
               background: darken(royalblue, 15%);
            }
         }

         h3.price {
            font-size: 2.5rem;
            font-weight: 500;
         }

         p {
            font-size: .9rem;
            width: 80%;
            margin: 1.5em 0 2.5em 0;
         }

         section.select-images {
            display: flex;
            margin-bottom: 2em;

            figure {
               border: 2px solid $clr-black;
               border-radius: .5em;
               width: 15%;
               aspect-ratio: 1;
               @include Flex(c, c);
               cursor: pointer;
               margin-right: .5em;

               img {
                  @include FullSize;
                  object-fit: cover;
                  pointer-events: none;
               }

               &.active {
                  border-color: royalblue;
                  pointer-events: none;
               }
            }
         }

         div.product-stars-container {
            @include Flex(none, c);
            margin: 1em 0 1.5em 0;

            h6 {
               color: gold;
               font-weight: 600;
               margin-right: .25em;
               font-size: 1.5rem;
            }

            span {
               color: grey;
               @include Rectangle(30px);

               svg { @include FullSize; }

               &.active {
                  color: gold;
               }
            }
         }

         section.tags {
            margin-top: .5em;
            display: flex;

            span {
               padding: .5em .75em;
               background: rgb(19, 220, 146);
               font-weight: 600;
               border-radius: .5em;
               margin-right: .5em;
               cursor: pointer;
               transition: .3s;
               display: block;
               color: $clr-white;

               &:hover {
                  transform: scale(0.95);
               }
            }
         }

         h2.company {
            text-transform: uppercase;
            color: #606060;
            font-weight: 700;
            font-family: 'Open Sans', sans-serif;
         }

         h1.name {
            font-size: 2.5rem;
            font-weight: 600;
         }
      }
   }
}