@import '../../config';

section.nav-strap {
   background: royalblue;
   @include Flex(fe, c);
   padding: .25em .5em;
   color: $clr-white;
   height: 45px;

   ul {
      display: flex;
      list-style: none;

      li {
         margin-left: 2em;
         @include Clamp(.8, 3, .9);
         font-family: 'Prompt', sans-serif;
         font-weight: 300;
         cursor: pointer;
         transition: .2s;

         &:hover {
            transform: scale(1.075);
         }
      }
   }

   figure {
      height: 100%;
      margin-left: 2em;
      overflow: hidden;

      img {
         height: 100%;
      }
   }

   @media (max-width: 480px) {
      justify-content: space-between;

      ul li {
         margin: 0;
         
         &:nth-child(2),
         &:nth-child(3) {
            display: none;
         }
      }
   }
}