@import '../config';

main.contact-page {
   padding: 3em clamp(.25em, 4vw, 3em);
   min-height: 100vh;
   display: flex;

   h1.top {
      text-transform: uppercase;
      font-weight: 800;
      @include Clamp(1.25, 4, 1.75);
      margin-bottom: .25em;
   }

   h2.btm {
      font-weight: 600;
      @include Clamp(.85, 4, .95);
      margin-bottom: 4em;
   }

   section.informations {
      width: 35%;
      min-width: 320px;
      padding: clamp(.5em, 6vw, 2em);
      background: #191970;
      flex-direction: column;
      color: $clr-white;

      ul {
         list-style: none;

         li {
            @include Flex(none, c);
            margin-bottom: 1em;

            &, span.gth-open {
               @include Clamp(.85, 2, 1.1);
               font-weight: 500;
               font-family: 'Prompt', sans-serif;
            }

            span.gth-open,
            span.copy-mail {
               margin: 0 0 0 auto;
               @include Rectangle(clamp(20px, 5vw, 25px));
               cursor: pointer;
               transition: .3s;

               svg { @include FullSize; pointer-events: none; }

               &:hover {
                  color: darken($color: $clr-white, $amount: 10%);
               }
            }

            span.copy-mail {
               position: relative;
               
               h6 {
                  position: absolute;
                  top: 100%;
                  left: 50%;
                  transform: translateX(-50%);
                  font-size: .85rem;
                  pointer-events: none;
               }
            }

            span.icon {
               @include Rectangle(clamp(20px, 6vw, 25px));
               color: orange;
               margin-right: .75em;

               svg { @include FullSize; }
            }
         }
      }
   }

   form {
      width: 65%;
      padding: clamp(.5em, 6vw, 2em);
      background: rgb(249, 248, 248);
      position: relative;

      h5.mail-result {
         position: absolute;
         @include Clamp(1, 4, 1.2);
         text-align: center;
         bottom: 0;
         background: royalblue;
         color: $clr-white;
         left: 0;
         padding: 1.75em 0;
         width: 100%;
         font-weight: 500;
         font-family: 'Prompt', sans-serif;
      }

      h2.btm {
         margin-bottom: 3em;
      }

      textarea {
         margin-bottom: 1.5em;
         resize: none;
         height: 200px;
      }

      input,
      textarea {
         @include Clamp(.9, 4, 1.2);
         padding: .5em;
         outline: 0;
         width: 100%;
      }

      div.input-div {
         margin-bottom: 1.5em;

         h5 {
            text-transform: uppercase;
            font-size: .8rem;
            font-weight: 500;
            font-family: 'Prompt', sans-serif;
         }
         
         input {
            &::placeholder {
               font-size: .9rem;
               text-transform: uppercase;
            }
         }
      }
      
      button {
         display: block;
         width: 150px;
         padding: .75em 0;
         outline: 0;
         border-radius: .15em;
         border: 0;
         background: royalblue;
         cursor: pointer;
         transition: .3s;

         label {
            font-weight: 600;
            color: $clr-white;
            font-size: .9rem;
         }

         &:hover {
            background: darken($color: royalblue, $amount: 10%);
         }
      }
   }

   @media (max-width: 768px) {
      flex-direction: column;

      section.informations,
      form { width: 100%; min-width: auto; }
   }
}
