@import '../config';

section.newsletter {
   margin-top: $space;
   border-top: 1px solid black;
   border-bottom: 1px solid black;
   @include Flex(sa, c);
   padding: 4em 0;
   background: rgb(247, 247, 247);

   form {
      width: 40%;
      @include Flex();
      flex-direction: column;

      button {
         width: 110px;
         outline: 0;
         cursor: pointer;
         transition: .3s;
         border-radius: .15em;
         border: 0;
         background-color: royalblue;
         padding: .75em 0;
         margin-top: .1em;

         label {
            font-size: 1rem;
            font-family: 'Prompt', sans-serif;
            font-weight: 500;
            color: $clr-white;
         }

         &:hover {
            background: darken($color: royalblue, $amount: 5%);
         }
      }

      input {
         width: 100%;
         outline: 0;
         border-radius: .2em;
         padding: .75em .5em;
         font-size: 1.1rem;
         border: 1px solid royalblue;

      }
      
      h2 {
         text-transform: uppercase;
         font-weight: 800;
         margin-bottom: 1em;
      }
   }

   article {
      width: 40%;

      p {
         font-weight: 500;
      }

      h1 {
         margin-bottom: .5em;
         font-size: 1.75rem;
         text-transform: uppercase;
         font-family: 'Prompt', sans-serif;
         font-weight: 700;
      }
   }
}