@import '../config';

section.main.products-section {
   width: 65%;
   background: whitesmoke;
   padding: 0 3em;
   overflow: scroll;
   overflow-x: hidden;

   &::-webkit-scrollbar {
      width: 6px;
      background: $clr-white;
   }

   &::-webkit-scrollbar-thumb {
      width: 100%;
      background: royalblue;
   }

   section.products-container {
      table {
         width: 100%;

         thead {
            text-transform: uppercase;

            td { font-weight: 400; }
         }

         td {
            width: 30%;
            padding: 1em 0;
            display: inline-block;
            font-family: 'Prompt', sans-serif;
            font-weight: 500;

            &.quantity {
               position: relative;

               div.buttons {
                  position: absolute;
                  top: 100%;
                  left: 0;
                  display: flex;

                  span {
                     @include Rectangle(20px);
                     cursor: pointer;

                     &:first-child { margin-right: 1.5em }

                     svg {
                        @include FullSize;
                        pointer-events: none;
                     }
                  }
               }

               div.num {
                  width: 45%;
                  aspect-ratio: 1;
                  background: white;
                  border-radius: .5em;
                  border: 1px solid black;
                  @include Flex(c, c);
               }
            }

            &.name { 
               height: 100%;
               display: inline-block;
            }

            &.price {
               font-weight: 600;
            }

            figure {
               width: 100%;
               aspect-ratio: 1;

               img {
                  @include FullSize;
                  object-fit: cover;
               }
            }

            &:nth-child(1) { width: 13%; }
            &:nth-child(2) { width: 62%; padding: 0 2em; }
            &:nth-child(3) { width: 15%; }
            &:nth-child(4) { width: 10%; }
         }
      }
   }

   div.sect-info {
      @include Flex(sb, c);

      h2 {
         font-size: 1.5rem;
         font-weight: 600;
         font-family: 'Prompt', sans-serif;
      }
   }
}