@import '../../config';

aside.menu {
   position: absolute;
   width: 350px;
   max-width: 100%;
   background: whitesmoke;
   border-left: 1px solid rgb(215, 215, 215);
   border-bottom: 1px solid rgb(215, 215, 215);
   height: 550px;
   padding: .75em;
   right: 0;
   top: 0;
   z-index: 999;
   transform: translateX(100%);
   transition: .4s;
   font-family: 'Prompt', sans-serif;

   ul {
      list-style: none;

      li {
         &:not(.margin) {
            font-size: .95rem;
            margin-bottom: .75em;
            color: rgb(129, 129, 129);
            text-transform: uppercase;
            border-bottom: 2px solid rgb(215, 215, 215);
            cursor: pointer;
            transition: .3s;

            &:hover {
               color: royalblue;
            }
         }

         &.margin {
            margin: 2em 0;
         }
      }
   }

   h6.is-logged {
      font-weight: 500;
      margin-bottom: 2em;
   }
}