@import '../../config';

footer.layout-footer {
   @include Flex(sb, c);
   background: #252525;
   color: $clr-white;
   padding: 5em;

   ul {
      list-style: none;

      li {
         font-weight: 600;
         font-family: 'Prompt', sans-serif;
         margin-bottom: .2em;
         cursor: pointer;
         position: relative;
         transition: .3s;

         &::before {
            content: '';
            position: absolute;
            right: calc(100% + 4px);
            top: 50%;
            transform: translateY(-50%);
            height: 0;
            width: 2px;
            background: orange;
            transition: .3s;
         }

         &:hover {
            &::before { height: 100%; }
            color: darken($clr-white, 10%);
         }
      }
   }

   div.icons {
      display: flex;
      border-top: 2px solid $clr-white;
      margin-top: 2em;
      padding-top: .75em;

      span {
         @include Rectangle(30px);
         display: block;
         margin-right: .25em;
         cursor: pointer;
         transition: .3s;

         svg { @include FullSize; }

         &:hover {
            transform: scale(1.2);
            color: royalblue;
         }
      }
   }

   div.logo {
      h2 {
         text-transform: uppercase;
         font-weight: 700;
         font-size: 2.25rem;
      }

      h3 {
         font-family: 'Prompt', sans-serif;
         font-weight: 500;
      }
   }
}