@import '../config';

main.terms-and-conditions {
   padding: 4em clamp(.5em, 9vw, 8em);
   background: lighten($color: $backgroundClr, $amount: 4%);

   h2 {
      margin-bottom: .25em;
      @include Clamp(1, 4, 1.25);
      font-weight: 800;
   }

   p, li {
      font-family: 'Prompt', sans-serif;
      font-weight: 400;
   }

   p { 
      margin-bottom: 3em; 
      line-height: 1.8em; 
      @include Clamp(.8, 4, 1);
      text-align: justify;
   }

   h1 {
      font-weight: 800;
      @include Clamp(1.5, 5, 2);
      text-transform: uppercase;
   }

   ul {
      margin-bottom: 3em;
   }
}