@import '../config';

main.user-basket {
   height: calc(100vh - 45px);
   @include Flex(c, c);

   section.main {
      height: 95%;

      div.sect-info {
         border-bottom: 1px solid grey;
         padding: 1em 0;
         margin-bottom: 2.25em;

         h1 {
            font-weight: 700;
            @include Clamp(1.2, 4, 1.75);
            font-family: 'Prompt', sans-serif;
         }
      }

      &.summary {
         width: 30%;
         background: rgb(228, 228, 228);
         padding: 0 2em;

         h2.no-prods {
            text-align: center;
            font-weight: 800;
            margin-top: 2em;
            @include Clamp(1.2, 4, 1.5);
         }

         section.delivery-dropdown {
            margin-top: 1.5em;

            section.wrap {
               margin-top: .25em;
               position: relative;

               ul {
                  list-style: none;
                  position: absolute;
                  top: 100%;
                  left: 0;
                  width: 100%;
                  background: white;
                  transition: .3s;
                  display: none;
                  height: 0;
                  overflow: hidden;

                  li {
                     @include Flex(sb, c);
                     padding: 1em;
                     cursor: pointer;
                     transition: .3s;

                     h6 {
                        font-size: .85rem;
                        font-weight: 600;
                        pointer-events: none;
                     }

                     &:hover {
                        background: royalblue;
                        color: $clr-white;
                     }
                  }
               }

               div.current {
                  width: 100%;
                  padding: 1em;
                  border: 1px solid rgb(255, 255, 255);
                  background: whitesmoke;
                  @include Flex(sb, c);
                  cursor: pointer;
                  border-radius: .15em;

                  h6 {
                     text-transform: uppercase;
                     font-weight: 500;
                     font-family: 'Prompt', sans-serif;
                     font-size: .85rem;
                     pointer-events: none;
                  }

                  span {
                     @include Rectangle(20px);
                     pointer-events: none;

                     svg { @include FullSize; }
                  }
               }
            }
         }

         div.total-cost {
            @include Flex(sb, c);

            &.info {
               h5,
               span {
                  @include Clamp(.95, 4, 1.1);
                  font-weight: 600;
               }
            }
            
            &.total {
               padding-top: 1.5em;
               border-top: 1px solid grey;
               margin: 2.25em 0 2em 0;

               h5,
               span {
                  font-weight: 700;
                  font-size: 1.2rem;
                  font-family: 'Prompt', sans-serif;
               }
            }
         }

         button {
            width: 100%;
            padding: .75em 0;
            outline: 0;
            border: 0;
            background: royalblue;
            border-radius: .15em;
            cursor: pointer;
            transition: .3s;
            
            label {
               font-size: 1.1rem;
               color: $clr-white;
               font-family: 'Prompt', sans-serif;
               font-weight: 600;
            }

            &:hover { background: darken(royalblue, 10%); }
         }
      }
   }

   @media (max-width: 1000px) {
      flex-direction: column;
      height: auto;

      section.main {
         &.summary { 
            width: 100%; 
            padding-bottom: 2em;
            padding: 0 1em 3em 1em;
         }
      }
   }
}