@import '../config';

section.credit-card-form {
   margin-top: 2em;
   border-top: 1px solid rgb(174, 174, 174);
   padding-top: 1.5em;

   input {
      width: 100%;
      font-size: 1rem;
      padding: .75em;
      outline: 0;
      border: 1px solid rgb(230, 230, 230);
   }

   h5 {
      @include Clamp(.8, 4, .9);
      font-weight: 500;
      font-family: 'Prompt', sans-serif;
      color: rgb(120, 120, 120);
      text-transform: uppercase;
   }

   div.wrap {
      @include Flex(sb, c);
      margin-top: 1em;
      
      div { width: 48%; }

      input { width: 100%; }
   }

   @media (max-width: 768px) {
      div.wrap {
         div { width: 100%; &:not(:last-child) { margin-bottom: 1em; } }
      }
   }
}