@import '../config';

main.login-page,
main.register-page {
   section.wrap {
      height: calc(100vh - 45px);
      @include Flex(c, c);

      section.left-section,
      form {
         height: 80vh;
         padding: 2em;
      }

      section.left-section {
         width: 32%;
         background-size: cover;

         p, li {
            font-weight: 600;
            font-family: 'Prompt', sans-serif;
            text-shadow: 0 0 1px black, 0 0 2px black;
            color: $clr-white;
         }

         li::before {
            content: "\2022";
            color: orangered;
            display: inline-block; 
            width: 1em;
            margin-left: -1em;
         }

         h1 {
            font-weight: 800;
            font-size: 2.25rem;
            color: $clr-white;
            text-shadow: 0 0 2px black, 0 0 3px black;
            margin-bottom: 1em;
         }
      }

      form {
         width: 42%;
         background: whitesmoke;
         @include Flex(c, c);

         h5,
         a {
            transition: .3s;
            cursor: pointer;

            &.center {
               text-align: center;
            }

            &:hover {
               color: royalblue;
            }
         }

         button {
            width: 100%;
            margin: 1.5em 0 1em 0;
            padding: .75em 0;
            outline: 0;
            border: 0;
            border-radius: .15em;
            background: royalblue;
            cursor: pointer;
            transition: .3s;

            label {
               color: $clr-white;
               font-weight: 700;
               font-family: 'Prompt', sans-serif;
            }

            &:hover { background: darken(royalblue, 10%); }
         }

         h2 {
            font-weight: 800;
            font-size: 2.25rem;
            margin-bottom: .5em;
            font-family: 'Prompt', sans-serif;
         }

         h5,
         label,
         a {
            font-size: .9rem;
            font-weight: 500;
            font-family: 'Prompt', sans-serif;
            display: block;
         }

         a {
            color: $clr-black;
            text-decoration: none;
         }

         div.input-div {
            position: relative;

            &:not(:first-child) {
               margin-top: 1em;
            }

            span.icon {
               position: absolute;
               left: 10px;
               @include Rectangle(25px);
               top: 50%;
               transform: translateY(-50%);

               svg { @include FullSize; }
            }

            input {
               width: 100%;
               padding: .75em .5em .75em 40px;
               outline: 0;
               border: 1px solid $clr-black;
               border-radius: 1.1em;

               &::placeholder {
                  font-size: .8rem;
                  text-transform: uppercase;
                  opacity: .7;
                  font-family: 'Prompt', sans-serif;
               }
            }
         }
      }
   }
}